/* style de la imagen */
.imgStyle {
    max-height: 50px;
}
.imgStylelogin {
    max-width: 150px;
    width: 100%;
    height: auto;
    transition: width 0.3s ease;
    text-align: center;
}
.imgStyleIco {
    max-height: 30px;
}
.separador {
    width: 1px;
    height: 50px; 
    background-color: #797878; 
    margin: 0 10px;
}

.column-container {
    column-count: 6; 
    column-gap: 20px; /
}

.myBorder {
    border: 2px solid #808080; 
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.divTitle {
    border: 2px solid #c0bfbf; 
    border-radius: 10px;
    background-color: #5a5a5ae8;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.styleNav {
    border: 2px solid #ced1d3c2; 
    background-color: #969da1de;
    color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.styleLogin{
    border: 2px solid #e93903c2; 

}
.colortextNav {
    color: white;
}

.esp {
    margin-top: 75px;
}

.loginContenedor {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}


.cardMyStyle {
    max-width: 500px;
    border-radius: 5px;
    padding: 20px;
    font-size: 14px;
    box-shadow: 0px 2px 15px rgba(14, 167, 238, 0.753);
    background-color: rgba(171, 184, 189, 0.651);
}

.form-Mycontrol {
    border: 1px solid #cccccca1;
    border-radius: 5px;
    border-color: rgb(6, 158, 247);
    padding: 10px;
    width: 100%;
    font-size: 14px;
    background-color: rgba(241, 248, 239, 0.267);
    transition: border-color 0.3s ease;

}

.form-Mycontrol:focus,
.content:focus-within .form-Mycontrol {
    outline: none;
    border-color: rgb(5, 171, 248);
    box-shadow: 0px 2px 10px rgba(9, 156, 241, 0.555);
}

.Mycontainer-div-table {
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(169, 173, 169, 0.774);
    border: 1px solid rgba(167, 175, 167, 0.822);
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    justify-content: center;
    margin: 0 auto;
    justify-content: center;
    overflow-x: auto;
    margin-top: 75px;
  }

  .error-alert {
    position: fixed;
    top: 80px;
    right: 20px;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.form-Mycontrol::placeholder {
    color: #888; 
}

.form-Mycontrol.error::placeholder {
    color: red;
}

.user-name {
    color: #FF0000; /* Cambia este valor al color que desees */
    font-weight: bold; /* Otras propiedades de estilo que desees aplicar */
}



