{% extends "base.html" %} {% block title %} Corrección Gramatical {% endblock %}
{% load static %} {% block content %} {% include 'nav.html' %}

<div class="container" style="margin-top: 70px">
  <div class="rounded d-flex justify-content-center align-items-center">
    <img
      src="{% static 'images/LogoGramatica.png' %}"
      alt="Icono de corrección"
      style="max-height: 200px"
    />
  </div>
  <div class="bg-light p-3">
    <h4 class="text-center">Tu Compañero Inteligente para el Aprendizaje del Inglés</h4>
    <h5><strong>Cómo Funciona:</strong></h5>

        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'images/IconoG.png' %}" class="imgStyleIco">
                <h6><strong>Ingresa tu texto:</strong></h6>
                <h6>Escribe tus ensayos, correos electrónicos o cualquier otro tipo de 
                    texto en nuestra plataforma.</h6>
            </div>
            <div class="col-md-6">
                <img src="{% static 'images/IconoG.png' %}" class="imgStyleIco">
                <h6><strong>Recibe Sugerencias Instantáneas:</strong></h6>
                <h6>Mientras escribes, nuestro sistema analiza tu texto y te ofrece 
                    sugerencias en tiempo real para mejorar tu gramática y estilo.</h6>
            </div>
            <div class="col-md-6">
                <img src="{% static 'images/IconoG.png' %}" class="imgStyleIco">
                <h6><strong>Explora Nuestros Videos:</strong></h6>
                <h6>Sumérgete en nuestra biblioteca de videos didácticos para fortalecer 
                    tu comprensión de la gramática en inglés.</h6>
            </div>
            <div class="col-md-6">
                <img src="{% static 'images/IconoG.png' %}" class="imgStyleIco">
                <h6><strong>Formula Preguntas al Analizador: </strong></h6>
                <h6>Si tienes preguntas específicas sobre tu texto, utilice nuestro 
                    analizador para obtener respuestas precisas.</h6>
            </div>
           
    </div>
  </div>
</div>
{% endblock %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">