<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css\\styl.css' %}">

    <title>{% block title %}{% endblock %}</title>
    <!-- Agrega el enlace a Bootstrap aquí -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <div id="loading-indicator" class="text-center" style="display: none;">
        <div class="spinner-border" role="status">
            <span class="sr-only">Cargando...</span>
        </div>
        <p>Cargando modelo...</p>
    </div>

    <script>
        var respuestaRecibida = false;  // Agrega esta variable al principio del script
    
        function showLoadingIndicator(buttonId) {
            document.getElementById('loading-indicator').style.display = 'block';
            document.getElementById(buttonId).disabled = true;
        }
    
        function hideLoadingIndicator(buttonId) {
            document.getElementById('loading-indicator').style.display = 'none';
            document.getElementById(buttonId).disabled = false;
        }
    
        document.getElementById('corregir-form').addEventListener('submit', function() {
            respuestaRecibida = false;  // Reinicia la variable antes de enviar el formulario
            showLoadingIndicator('corregir-button');
        });
    
        document.getElementById('pregunta-form').addEventListener('submit', function() {
            respuestaRecibida = false;  // Reinicia la variable antes de enviar el formulario
            showLoadingIndicator('pregunta-button');
        });
    
        // Para ocultar el indicador de carga y habilitar el botón después de recibir la respuesta
        // en las vistas de Django, puedes agregar un código similar al final de las respuestas.
    </script>
    
</body>
</html>
