{% extends "base.html" %}

{% block title %}
    Página del Docente
{% endblock %}

{% block content %}
    {% include 'nav.html' %}

    <div class="container esp">
        <div class="divTitle">
            <h1>Página del Docente</h1>
        </div>
        <div class="bg-light p-3 mt-1 rounded-bottom myBorder">
            <h2>Lista de Estudiantes</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Cantidad de Entradas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Estudiante 1</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>Estudiante 2</td>
                        <td>7</td>
                    </tr>
                    <!-- Agregar más filas para otros estudiantes -->
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
