<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    
    <h2>Registered Students:</h2>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Usuario</th>
            <th>Asistencia</th>
        </tr>
        {% for estudiante in estudiantes %}
            <tr>
                <td>{{ estudiante.nombre }}</td>
                <td>{{ estudiante.apellido }}</td>
                <td>{{ estudiante.correo }}</td>
                <td>{{ estudiante.usua }}</td>
                <td>{{ estudiante.asistencia }}</td>
            </tr>
        {% endfor %}
    </table>
    
    <a href="{% url 'logout' %}">Logout</a>
</body>
</html>