<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    {% include 'nav.html' %}
    <div class="Mycontainer-div-table">
    <h2 class="text-center">Tabla de Estudiantes</h2>
    <div class="container">
        <table class="table table-bordered table-striped">
            <thead>
                <tr class="text-center">
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Usuario</th>
            <th>Asistencia</th>
        </tr>
    </thead>
    <tbody>
        {% for estudiante in estudiantes %}
            <tr>
                <td>{{ estudiante.nombre }}</td>
                <td>{{ estudiante.apellido }}</td>
                <td>{{ estudiante.correo }}</td>
                <td class="text-center">{{ estudiante.usua }}</td>
                <td class="text-center">{{ estudiante.asistencia }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    <div class="row d-grid justify-content-center align-items-center mt-3">
    <a class="btn btn-success" href="{% url 'register' %}">Registrar Estudiante</a>
</div>
    </div>
</body>
</html>