<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corrección Gramatical</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styl.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
{% block content %}
{% include 'nav.html' %}

<div class="container esp">
  <div class="rounded d-flex justify-content-center align-items-center">
    <img
      src="/static/images/LogoGramatica.png"
      alt="Icono de corrección"
      style="max-height: 200px"
    />
  </div>
  <div class="bg-light p-3 shadow">
    <h6 class="text-center">¡Bienvenidos a English Grammar Guardian!</h6>
    <h3 class="text-center">Tu Compañero Inteligente para el Aprendizaje del Inglés</h3>
    <h6 class="text-center">
      ¡Descubre la herramienta definitiva para mejorar tus habilidades de
      redacción en inglés! English Grammar Guardian es un sistema inteligente de
      apoyo al aprendizaje diseñado para elevar tus capacidades lingüísticas de
      manera fácil y efectiva.</h6>
    <h5><strong>Características Destacadas:</strong></h5>

    <div class="row text-center">
      <div class="col-md-2">
        <img src="/static/images/InterfazAmigable.png" class="imgStyle">
        <h6>Interfaz Amigable y Fácil de Usar</h6>
      </div>
      <div class="col-md-2">
        <img src="/static/images/Retroalimentación.png" class="imgStyle">
        <h6>Retroalimentación en Tiempo Real</h6>
      </div>
      <div class="col-md-2">
        <img src="/static/images/VideosDidácticos.png" class="imgStyle">
        <h6>Apartado de Videos Didácticos</h6>
      </div>
      <div class="col-md-2">
        <img src="/static/images/CorrectorGramática.png" class="imgStyle">
        <h6>Corrector de Gramática Avanzado</h6>
      </div>
      <div class="col-md-2">
        <img src="/static/images/Analizador.png" class="imgStyle">
        <h6>Analizador de Texto Inteligente</h6>
      </div>
      <div class="col-md-2">
        <img src="/static/images/Ayuda.png" class="imgStyle">
        <h6>Centro de Ayuda a tu Alcance</h6>
      </div>
    </div>
  </div>
</div>
{% endblock %}
</body>
</html>

