<!DOCTYPE html>
<html>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  <head>
    <title>Registro de Estudiante</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
  </head>

  <body>
    {% include 'navLogin.html' %}
    <div class="esp row justify-content-center align-items-center">
      <div class="cardMyStyle">
        <h1 class="text-center">Registro de Estudiante</h1>
        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
            <h7
              {% if message.tags %}
              class="{{ message.tags }}"
              {% endif %}
              style="color: red;"
            >
              {{ message }}
            </h7>
            {% endfor %}
          </ul>
        {% endif %}
        <form method="post">
          <div class="row">
            <div class="col-md-6">
              {% csrf_token %}
              <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input
                  type="text"
                  class="form-control"
                  name="nombre"
                  id="nombre"
                  required
                />
              </div>
              <div class="form-group">
                <label for="apellido">Apellido:</label>
                <input
                  type="text"
                  class="form-control"
                  name="apellido"
                  id="apellido"
                  required
                />
              </div>
              <div class="form-group">
                <label for="correo">Correo Electrónico:</label>
                <input
                  type="email"
                  class="form-control"
                  name="correo"
                  id="correo"
                  required
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="usua">Nombre de usuario:</label>
                <input
                  type="text"
                  class="form-control"
                  name="usua"
                  id="usua"
                  required
                />
                <div class="error-alert" style="color: rgb(12, 9, 9);">
                  {% if form.usua.errors %}
                  {{ form.usua.errors|join:", " }}
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <label for="pass1">Contraseña:</label>
                <div class="input-group">
                  <input
                    type="password"
                    name="pass1"
                    id="pass1"
                    class="form-control"
                    required
                  />
                  <div class="input-group-append">
                    <span
                      class="input-group-text"
                      id="show-password1"
                      style="cursor: pointer;"
                    >
                      <i class="fas fa-eye-slash" id="password-icon1"></i>
                    </span>
                  </div>
                </div>
                <div class="error-alert" style="color: red;">
                  {% if form.pass1.errors %}
                  {{ form.pass1.errors|join:", " }}
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <label for="password_confirm">Confirmar contraseña:</label>
                <div class="input-group">
                  <input
                    type="password"
                    name="password_confirm"
                    id="password_confirm"
                    class="form-control"
                    required
                  />
                  <div class="input-group-append">
                    <span
                      class="input-group-text"
                      id="show-password2"
                      style="cursor: pointer;"
                    >
                      <i class="fas fa-eye-slash" id="password-icon2"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row d-grid justify-content-center align-items-center mt-2">
            <button type="submit" class="btn btn-primary btn-block">
              Registrar
            </button>
          </div>
        </form>
        <div class="row d-grid justify-content-center align-items-center mt-2">
          <a class="text-success" href="{% url 'login' %}"
            >Volver al inicio de sesión</a
          >
        </div>
        <div class="row d-grid justify-content-center align-items-center">
          <div class="alert alert-primary mt-2" role="alert">
            ¿Quieres registrarte como Docente? Da clic aquí
            <a class="text-success" href="{% url 'addsupuser' %}">Docente</a>.
          </div>
        </div>
      </div>
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const errorAlerts = document.querySelectorAll('.error-alert');
        errorAlerts.forEach(function (alert) {
          if (alert.innerHTML.trim() !== '') {
            alert.style.display = 'block';
            setTimeout(function () {
              alert.style.display = 'none';
            }, 3500);
          }
        });

        // Mostrar/Ocultar contraseñas
        const passwordInputs = document.querySelectorAll('input[type="password"]');
        passwordInputs.forEach(function (input, index) {
          const showPasswordButton = document.getElementById(`show-password${index + 1}`);
          const passwordIcon = document.getElementById(`password-icon${index + 1}`);
          showPasswordButton.addEventListener('click', function () {
            if (input.type === 'password') {
              input.type = 'text';
              passwordIcon.classList.remove('fas', 'fa-eye-slash');
              passwordIcon.classList.add('fas', 'fa-eye');
            } else {
              input.type = 'password';
              passwordIcon.classList.remove('fas', 'fa-eye');
              passwordIcon.classList.add('fas', 'fa-eye-slash');
            }
          });
        });
      });
    </script>
  </body>
</html>
