<!DOCTYPE html>
<html>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css\\style.css' %}" />
  <head>
    <title>Register Estudiante</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  
  <body>
    {% include 'navLogin.html' %}
    <div class="esp row justify-content-center align-items-center">
      <div class="cardMyStyle ">
        <h1 class="text-center">Registro de Estudiante</h1>
        <div class="row">
          <div class="col-md-6">
            <div class="d-flex justify-content-center align-items-center">
                <img src="{% static 'images\\LogoGramatica.png' %}" alt="Icono de corrección" class="imgStylelogin">
              </div>
          </div>
          <div class="col-md-6">
            <div id="error-alert" class="error-alert"></div>
            <form method="post">
              {% csrf_token %}
              <div>
                {{ form.nombre.label_tag }} {{ form.nombre }}
                {% if form.nombre.errors %}
                <span style="color: red">{{ form.nombre.errors|join:", " }}</span>
                {% endif %}
            </div>
            <div>
                {{ form.apellido.label_tag }} {{ form.apellido }}
                {% if form.apellido.errors %}
                <span style="color: red">{{ form.apellido.errors|join:", " }}</span>
                {% endif %}
            </div>
            <div>
                {{ form.correo.label_tag }} {{ form.correo }}
                {% if form.correo.errors %}
                <span style="color: red">{{ form.correo.errors|join:", " }}</span>
                {% endif %}
            </div>
            <div>
                {{ form.usua.label_tag }} {{ form.usua }}
                {% if form.usua.errors %}
                <span style="color: red">{{ form.usua.errors|join:", " }}</span>
                {% endif %}
            </div>
            <div>
                {{ form.pass1.label_tag }} {{ form.pass1 }}
                {% if form.pass1.errors %}
                <span style="color: red">{{ form.pass1.errors|join:", " }}</span>
                {% endif %}
            </div>
              <div class="row d-grid justify-content-center align-items-center mt-3">
                <button type="submit" class="btn btn-primary btn-block">
                    Registrar
                </button>
              </div>
            </form>
            <div class="row d-grid justify-content-center align-items-center">
              <a class="colortextNav" href="{% url 'login' %}">Volver al inicio de sesión</a>
          </div>

          </div>
        </div>
      </div>
    </div>
  </body>

  {% if form.usua.errors %}
  <script>
        var errorAlert = document.getElementById('error-alert');
        errorAlert.innerHTML = '{{ form.usua.errors|join:", " }}';
        errorAlert.style.display = 'block';
        setTimeout(function() {
          errorAlert.style.display = 'none';
      }, 3500); 
    
</script>
{% endif %}

{% if form.correo.errors %}
<script>
      var errorAlert = document.getElementById('error-alert');
      errorAlert.innerHTML = '{{ form.correo.errors|join:", " }}';
      errorAlert.style.display = 'block';
      setTimeout(function() {
        errorAlert.style.display = 'none';
    }, 3500); 
  
</script>
{% endif %}


</html>
